{% extends "coplate_base/base_with_navbar.html" %}

{% load widget_tweaks %}

{% block title %}새 포스트 작성 | Coplate{% endblock title %}

{% block content %}
<main class="site-body">
  <form class="review-form max-content-width" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="title">
      {{ form.title|add_class:"cp-input"|attr:"placeholder: 제목" }}
      {% for error in form.title.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="restaurant-name">
      {{ form.restaurant_name|add_class:"cp-input"|attr:"placeholder: 음식점 이름" }}
      {% for error in form.restaurant_name.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="restaurant-link">
      {{ form.restaurant_link|add_class:"cp-input"|attr:"placeholder: 네이버 또는 카카오 플레이스 주소" }}
      {% for error in form.restaurant_link.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="rating">
      <div class="cp-stars">
        <label for="id_rating_0"><input type="radio" name="rating" value="1" id="id_rating_0" required>★</label>
        <label for="id_rating_1"><input type="radio" name="rating" value="2" id="id_rating_1" required>★★</label>
        <label for="id_rating_2"><input type="radio" name="rating" value="3" id="id_rating_2" required>★★★</label>
        <label for="id_rating_3"><input type="radio" name="rating" value="4" id="id_rating_3" required>★★★★</label>
        <label for="id_rating_4"><input type="radio" name="rating" value="5" id="id_rating_4" required>★★★★★</label>
        {{ form.rating }}
      </div>
    </div>
    <div class="content">
      {{ form.content|add_class:"cp-input"|attr:"placeholder: 리뷰를 작성해 주세요." }}
      {% for error in form.content.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="file">
      <div class="file-content">
        <div>
          <input type="file" name="image1" accept="image/*" id="id_image1">
        </div>
      </div>
    </div>
    <div class="file">
      <div class="file-content">
        <div>
          <input type="file" name="image2" accept="image/*" id="id_image2">
        </div>
      </div>
    </div>
    <div class="file">
      <div class="file-content">
        <div>
          <input type="file" name="image3" accept="image/*" id="id_image3">
        </div>
      </div>
    </div>

    <div class="buttons">
      <a class="cp-button secondary cancel" href="#">취소</a>
      <button class="cp-button submit" type="submit">완료</button>
    </div>
  </form>
</main>
{% endblock content %}
